@import "tailwindcss";

@theme {
  --breakpoint-xs: 360px;
  --breakpoint-m: 660px;
  --breakpoint-2xl: 1750px;
  --animate-carousel: carousel 6s linear infinite;
  --animate-ping-slow: ping 1.3s infinite;
  --animate-ping-fast: ping .8s infinite;


  @keyframes carousel {
    to {
      transform: translateX(calc(-50% - 1.25rem));
    }
  }
}

@utility animate-pause {
  animation-play-state: paused;
}

#catalog {
  scroll-margin-top: 100px;
}

.para {
  /* Example color */
  clip-path: xywh(0 0 100% 100% round 25% 0);
}

/* 
@keyframes neutral {
  to {
    transform: translateX(30px);
  }
} */